<html>
	<head>
		<script src="Route.js"></script>
		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	</head>
	<body>
		<script>
			$(function() {
				var r = Route.getRoot()
					.createVariable("varName")
					.createVariable("anotherVar")
					.createVariable("fontColor")

				r.createTemplate("tmpl01", "<font color='<%= fontColor |%>'> number: <%= varName |%>, str: <%= anotherVar |%> </font><br />");

				r.onSet("varName")
					.log()
					.transform(function(value){return value * 2})
					.log()
					.transform(function(value){return value * 3})
					.log()
					//.filter_gt(20)
					//.log()
					.filter_nregex(/^2\d*$/)
					.log();

				r.onSet("varName")
					.render("tmpl01")
					.update($("div#div"))

				r.onSet("anotherVar")
					.render("tmpl01")
					.update($("div#div"))

				r.anotherVar = "test string";
				r.varName = 0;

				r.onChange($("#str")).set("anotherVar");
				r.onChange($("#color"), "fontColor")
					.render("tmpl01")
					.update($("div#div"));

				$("#incr").click(function(){Route.getRoot().varName++});
			});
		</script>
		<div id=div>bla</div>
		<button id=incr>increment</button><br>
		String: <input id="str"><br>
		font color: <input id="color"><br>
	</body>
</html>
